.App {
  text-align: center;
}

/* Forms */

.form-section {
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-top: 1px solid rgb(210, 210, 210);
  border-bottom: 1px solid rgb(210, 210, 210);
  margin: 0 auto 10px;
}

.form-label {
  font-size: 18px;
}

.form-input {
  height: 20px;
}

.form-submit {
  background-color: white;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 3px;
}

.form-submit:hover {
  border: 2px solid rgb(0, 140, 255);
  color: rgb(0, 140, 255);
  cursor: pointer;
}


/* Products List */
#product-list {
  list-style: none;
}

.product-list-item {
  font-size: 20px;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.home-delete {
  width: 60px;
  padding: 4px 0;
  background-color: white;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  color: red;
}

.home-delete:hover {
  border: 2px solid red;
}


/* Product Details */
#product-details {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  width: 400px;
  margin: 0 auto 20px;
}

#edit-delete {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 20px;
}

#edit-delete button {
  width: 60px;
  padding: 4px 0;
  background-color: white;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

#edit {
  color: rgb(255, 187, 0);
}

#edit:hover {
  border: 2px solid rgb(255, 187, 0);
}

#delete {
  color: red;
}

#delete:hover {
  border: 2px solid redd;
}